.margin{width:1090px;margin:0 auto;}

#top{height: 38px;background:#f5f5f5; }
#top .t-l{float: left;font:14px/38px "";}
#top .t-l span{}
#top .t-l a{margin:0 10px 0 20px;}


#top .t-r{float: right;font:14px/38px "";}
#top .t-r a{padding: 0 8px;}
#top .t-r b{padding: 0 8px;}

#head{height:68px;margin-top: 30px;margin-bottom:18px; }
#head .logo{float:left;}
#head .logo a{}
#head .logo a img{width:72px;height:68px;}
#head .h-r{float: right;}
#head .h-r{text-align: center}
#head .h-r img{margin-top:20px; }

















